
/*
компьютерная версия
*/ 



.post{
    background-color: white;
    height: 150px;
    width: 4fr;
    margin: 4%;
}
img{
    height: 100px;
    width: 100px;
}
.name{
    font-family: cursive;
    font-size: 25px;
    font-weight: 900;
    color: orangered;
}
.description{
    font-family: Cambria;
}
.readmorebtn{
    background-color: limegreen;
    height: 50px;
    width: 120px;
}
.header{
    grid-area: header;
    background: yellow;
    font-size: 80px;
    font-family: cursive;
    color: black;
    text-align:center;
}
.footer{
    grid-area: footer;
    background: red;
    text-align:center;
}
.main{
    grid-area: main;
    background: orange;
    text-align:center;

}
.left{
    grid-area: left;
    background: green;
    text-align:center;

}
.container{
    display: grid;
    grid-template-areas:"header header"
                        "left main"
                        "footer footer";
    grid-template-columns: 1fr 4fr;
    grid-template-rows:0.3fr 3fr 0.3fr;
    min-height: 100vh;
}
.menubtn{
    background: white;
    width: 200px;
    height: 40px;
    text-align:center;

}
#menutitle{
    border-style: solid;
    border-color: black;
    background: white;
    height: 40px;
    text-align:center;

}
/*
мобильная версия
*/


@media only screen and (min-width : 320px) and (max-width : 480px){
    .container{
        grid-template-areas:"header"
                        "left"
                        "main"
                        "footer";
        grid-template-columns: 350px;
        grid-template-rows:0.2fr 0.3fr 2fr 0.2fr;
    }
    .post{
        background-color: white;
        height: 150px;
        width: 324px;
        margin: 4%;
    }
    img{
        height: 100px;
        width: 100px;
    }
    .name{
        font-family: cursive;
        font-size: 25px;
        font-weight: 900;
        color: orangered;
    }
    .description{
        font-family: Cambria;
    }
    .readmorebtn{
        background-color: limegreen;
        height: 50px;
        width: 120px;
    }
    .header{
        grid-area: header;
        background: yellow;
        font-size: 80px;
        font-family: cursive;
        color: black;
        text-align:center;
    }
    .footer{
        grid-area: footer;
        background: red;
        text-align:center;
    }
    .main{
        grid-area: main;
        background: orange;
        text-align:center;
    
    }
    .left{
        grid-area: left;
        background: green;
        text-align:center;
    
    }
    .menubtn{
        background: white;
        width: 200px;
        height: 40px;
        text-align:center;
    
    }
    #menutitle{
        border-style: solid;
        border-color: black;
        background: white;
        height: 40px;
        text-align:center;
    
    }
}